/*! =========================================== *
 * DARK BUBBLE GUM THEME
 * Version: 3.16.0
 * Author: Cristiano Almeida
 * Website: www.csalmeida.com
 * Tweets @_csalmeida
 * =========================================== */

// Change colors here and they will change everywhere.
$base: #000000;
$search: #000;
$highlight: #00c000;
$navigation: #00ff00;

$text_color: #000000;
$extra_color: #00ff00;
$danger_color: #d62646;
$warning_color: #ffaa00;

@import '../styles';
